<div class="flexbox">
    <h1>GMO Food</h1>
    <figure>
        <img src="img/gmo-food.jpg" alt="gmo food">
        <figcaption>GMO Food</figcaption>
    </figure>
    <div><p>Genetically modified foods (GM food sources), otherwise called hereditarily built food sources (GE food sources),  are food sources delivered from organisms that have had changes brought into their DNA utilizing the strategies for hereditary building.</p>
    <p>Making hereditarily changed food is a multi-step process. The initial step is to distinguish a valuable quality from another life form that you might want to include. The quality can be taken from a cell or falsely blended, and when joined with other hereditary components, including an advertiser and eliminator district and a selectable marker.</p></div>
</div>

<div class="flexbox">
    <h1>The Value of money</h1>
    <figure>
        <img src="img/money.jpg" alt="money">
        <figcaption>Money Value</figcaption>
    </figure>
    <div><p>It is frequently said that money isn't the most significant thing on the planet. For some individuals, in any case, it is important as air. These are not really excessively materialistic individuals. Or maybe, they just comprehend the genuine estimation of money. Money gives you opportunities and decisions. You can choose where and how you need to live when you have a decent salary or budgetary assets. Then again, when you don't have a lot of money, the decision might be something that you can't manage. The decisions accessible to you may not so much be decisions by any stretch of the imagination.</p></div>
</div>

<div class="flexbox">
    <h1>The View of World in 2100</h1>
    <figure>
        <img src="img/world.jpg" alt="world2100">
        <figcaption>Futuristic World</figcaption>
    </figure>
    <div><p>From the last few decades, the world is evolving so fast and changing every day. from the beginning. The mode of communication has evolved as smartphones. In 2100, We may have another settlement in mars the same as earth.cars will be very futuristic which can fly and sail in the ocean. There will be a cure for every disease.I m sure that people will have a higher expectancy rate than us may be immortal.farming will be done on special domes irrespective of weather. Air will so clean to breathe because of technology there will air cleaner on buildings to clean the air in the large amounts. Medical and hospital will be so advance with their infrastructure.</p></div>
</div>