<h1>Portfolio</h1>
<div class="flexbox2">

<figure>
    <img src="img/food-1.jpg" alt="Gmo food-1">
    <figcaption>Gmo Food - 1</figcaption>
</figure>

<figure>
    <img src="img/food-2.jpg" alt="Gmo food-2">
    <figcaption>Gmo Food - 2</figcaption>
</figure>

<figure>
    <img src="img/food-3.jpg" alt="Gmo food-3">
    <figcaption>Gmo Food - 3</figcaption>
</figure>

<figure>
    <img src="img/future-1.jpg" alt="future-1">
    <figcaption>Future world - 1</figcaption>
</figure>

<figure>
    <img src="img/future-2.jpg" alt="future-2">
    <figcaption>Future world - 2</figcaption>
</figure>

<figure>
    <img src="img/future-3.jpg" alt="future-3">
    <figcaption>Future world - 3</figcaption>
</figure>

<figure>
    <img src="img/money-1.jpg" alt="money-1">
    <figcaption>Money - 1</figcaption>
</figure>

<figure>
    <img src="img/money2.jpg" alt="money-2">
    <figcaption>Money - 2</figcaption>
</figure>

<figure>
    <img src="img/money-3.jpg" alt="money-3">
    <figcaption>Money - 3</figcaption>
</figure>

</div>